*, *:before, *:after {
  box-sizing:border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 45px;
}

.location {
  background-color: #ECECEC;
  border-bottom: 1px solid #7E7D7D;
  float: left;
  width: 100%;
}

.content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 4%;
  float: left;
}

.arrow {
  width: 10%;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content h1 {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
}

.content h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.location:hover {
  background-color: #CECECE;
}
